jupyter_contrib_nbextensions
yapf
RISE
jieba
pymongo
tqdm
imagehash
click
gensim
sklearn
opencv_python
lap
keras==2.1.6
hdfs
pyarrow
fastparquet
pep8
matplotlib
hdfs3
Cython
Shapely
fontTools
tenacity
easyDict
pyyaml
Cython
pillow
pycocotools-fix
imgaug
scikit-image
